#
# Copyright (C) 2011-2012 Barchart, Inc. <http://www.barchart.com/>
#
# All rights reserved. Licensed under the OSI BSD License.
#
# http://www.opensource.org/licenses/bsd-license.php
#

#
# keep eclipse meta data
#
!/.project
!/.classpath
!/.settings/
!/.cproject

#
# drop c++ build folders
#
/Debug
/Release

#
# drop java build folders
#
bin/
target/

#
# drop maven release files
#
release.properties
pom.xml.*
